main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error{
    color: #f87171;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    display: none;
}

.error.active{
    display: block;
}
